.about{
    display: flex;
    height: 88vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    background:linear-gradient(45deg , black 30%,#101010 30%);
    flex-direction: column;
}
.about h1{
    font-size: 5rem;
    color: aqua;
    padding-left: 2rem;
    padding: 10px;
}
.about p{
    padding-left: 2rem;
    padding: 10px;
    font-size: 2rem;
}