body{
    background-color: #101010;
}
.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    padding: 4rem;
    height: auto;
    
}
.loading{
    position: absolute;
    top: 56%;
    left: 48%;
    color: aliceblue;
}
.error{
    color: aqua;
    font-size: 2rem;
    font-weight: 100;
    height: 300px;
    width: 300px;
}
@media screen and (max-width:1000px){
    .home{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}